module LabelGenFreeRide
  def self.data_mapper_config
    {
      :adapter => 'sqlite3',
      :database => 'db/bike_label.db',
      :username => nil,
      :password => nil,
      :host => nil
    }
    {
      :adapter => 'mysql',
      :database => 'db_name',
      :username => 'username',
      :password => 'userpassword',
      :host => 'host.ip.com'
    }
  end
end
